{% extends 'expenses/base.html' %}

{% block content %}
<h2>
    {{ expense }}
</h2>

<form action="{% url 'create' expense.id %}" method="post" class="w-full">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="title">
            Title
        </label>
        <input type="string" name="title" id="title" value="{{ expense.title }}">
    </div>
    <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="amount">
            Amount
        </label>
        <input type="number" name="amount" id="amount" value="{{ expense.amount }}">
    </div>
    <input type="submit" value="Save" class="p-2 bg-blue text-white hover:bg-blue-dark rounded">
</form>
{% endblock %}