<div class="px-4 text-center text-grey-lighter">
    <div class="w-full mb-6 text-center text-black">
        <h3>Välkommen</h3><br>
        <h4>{{ 'David Wessman' }}</h4>
    </div>
    <div class="w-full text-center mt-8">
        <ul class="list-reset">
            <li class="">
                <a href="{% url 'index' %}" class="inline-block border-t w-full py-4 font-semibold text-blue no-underline">
                    Startsida
                </a>
            </li>
            <li class="border-b">
                <a href="{% url 'expense-add' %}" class="inline-block border-t w-full py-4 font-semibold text-blue no-underline">
                    Ny utgift
                </a>
            </li>
        </ul>
    </div>
</div> 