{% extends 'ekonomi/base.html' %}

{% block title %}
    <h1>Expenses</h1>
{% endblock %}

{% block content %}
    <div class="">
        <h2>Utlägg</h2>
    </div>
    <div class="pt-4">
        {% include "ekonomi/expense_table.html" with expense_list=expense_list sum=sum %}
        <div class="mt-6">
            <a href="{% url 'expense-create' %}"
               class="p-2 bg-white text-blue hover:bg-grey hover:text-white rounded">
                Lägg till utgift
            </a>
        </div>
    </div>
{% endblock %}